{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peter the Great University</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href =" {% static 'main/Styles/main.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <header>
                <nav class="navbar navbar-custom">
                    <div class="container">
                        <a class="navbar-brand">Peter the Great University</a>
                        <ul class="nav nav-tabs" id="myTabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="About-tab" data-bs-toggle="tab" href="#about" role="tab"
                                    aria-controls="about" aria-selected="false">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Contact</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </header>
            <div class="tab-content" id="myTabContent">
                <div id="home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">

                    <section id="hero" class="container">
                        <h1 class="display-4">Welcome to Peter the Great University</h1>
                        <p class="lead">Your path to excellence starts here.</p>
                    </section>

                    <section id="link-to-sign-form" class="container">
                        <h1 class="display-6">
                            <a class="link-success" href="{%  url 'sign' %} ">
                            Link to web statement
                            </a>
                        </h1>
                    </section>

                    <section id="about-project" class="container">
                        <h2>About Us</h2>
                        <p>This is a web statement project that can help you to control progress.
                            Also, this website accumulates information for easy access for students and teachers.</p>
                    </section>

                    <section id="useful-links" class="container">
                        <h2>Useful links</h2>
                        <p><a class="link-info" href="https://www.spbstu.ru/">Main website of Peter the Great
                                University</a></p>
                        <p><a class="link-info" href="https://open.spbstu.ru/lk-learner/">Website with a personal
                                account</a></p>
                    </section>

                </div>

                <div id="about" class="tab-pane fade" role="tabpanel" aria-labelledby="about-tab">
                    <section id="about-info" class="container">
                        <h2 class="display-4">Benefits of web statements</h2>
                        <p>Web statements, also known as e-statements,
                            offer various benefits for both students and professors in an
                            academic setting. Here are some reasons why they are useful:</p>
                        <dl>
                            <dt>For students:</dt>
                            <ul class="list-group">
                                <li class="list-group-item">Accessibility and Convenience: E-statements can be accessed
                                    24/7 from
                                    anywhere with an internet connection. This makes
                                    it convenient for students to review their academic records, including grades,
                                    schedules, and
                                    financial information,
                                    without the need to visit the campus office.</li>
                                <li class="list-group-item">Reduced Paperwork: E-statements help reduce paper usage,
                                    which is
                                    environmentally friendly and helps cut down on clutter
                                    and the potential for lost documents.</li>
                                <li class="list-group-item">Timely Information: Students can receive e-statements
                                    instantly as soon as
                                    they are available, ensuring that they are
                                    always up-to-date with their academic progress and financial obligations.</li>
                                <li class="list-group-item">Cost Savings: E-statements save costs associated with
                                    printing, postage, and
                                    physical storage, which can translate into
                                    savings for both the educational institution and students.</li>
                            </ul>
                            <dt>For Professors:</dt>
                            <ul class="list-group">
                                <li class="list-group-item">Efficient Grading and Feedback: Professors can provide
                                    timely feedback and
                                    grades to students electronically,
                                    streamlining the grading process and reducing the need for physical papers</li>
                                <li class="list-group-item">Better Organization: Web records can be organized and
                                    managed more
                                    efficiently, with the ability to search,
                                    categorize, and retrieve documents quickly.</li>
                                <li class="list-group-item">Environmental Impact: Reducing the need for printing and
                                    paper usage aligns
                                    with sustainability goals and reduces the
                                    carbon footprint of academic institutions.</li>
                                <li class="list-group-item">Data Analysis: Digital records can be used for data analysis
                                    and reporting,
                                    allowing professors to gain insights into
                                    student performance and identify areas that may need improvement.</li>
                            </ul>
                        </dl>
                    </section>
                </div>
                <div id="contact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                    <section id="contact-info" class="container">
                        <h2 class="display-6">Development team: </h2>
                        <ul class="list-group">
                            <li class="list-group-item"> Developer: Markov Mikhail</li>
                            <li class="list-group-item"> Designer: Markov Mikhail</li>
                            <li class="list-group-item"> Team leader: Markov Mikhail</li>
                        </ul>
                        <h2 class="display-6">My contacts: </h2>
                        <ul class="list-group">
                            <li class="list-group-item"> My GitHub:
                                <a href="https://github.com/eagerbeaver04">https://github.com/eagerbeaver04</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>

        </div>
        <footer class="page-footer bg-light">
            <div class="container">
                <p class="text-center">&copy; 2023 Markov Mikhail</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>